<div class="text-center">
  <h1>Complete list of tents</h1>
</div>

<div class="container">
  <div class="cards">
      <% @tents.each do |tent| %>
        <% if tent.photo.attached?%>
        <%= link_to tent_path(tent) do %>
          <div class="card-category"
            style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url('<%= cl_image_path tent.photo.key %>');"
          >
            <p><%= tent.title %></p>
            <p>£<%= tent.price %></p>
          </div>
          <% end %>
        <% end %>
      <% end %>
    <br>
  </div>
    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
