
  <div class="container">
    <h1 class="heading text-warning">⛰️ Complete List of Tents ⛰️</h1>
    <div class="cards">
        <% @tents.each do |tent| %>
          <% if tent.photo.attached?%>
            <%= link_to tent_path(tent) do %>
              <div class="card-trip">
                <%= cl_image_tag tent.photo.key, height: 300, width: 500, crop: :fill %>
                <div class="card-trip-infos">
                  <div>
                    <span><%= tent.title %></span>
                    <br>
                    📍 <span class="locationcolor"><%= tent.location %></span>
                    <br>
                    £<span><%= tent.price.to_i %></span>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
    </div>
    <br>
    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <br>
  </div>
