<div class="container">
  <div class="row justify-content-center" id="name">
    <div class="col-6">
      <br>
    <h2 class="text-center heading text-primary fs-2"><strong>Congratulations🎉 your booking has been confirmed!</strong></h2><br>
    <br>
      <h3 class="text-center heading text-warning fs-1"><strong>Your booking details</strong></h3>
        <br>
          <%= cl_image_tag @booking.tent.photo.key, height: 300, width: 635, crop: :fill %>
          <br>
            <ul class="list-group">
            <li class="list-group-item text-center fs-4"><strong>Start Date: <%= @booking.start_date %></strong> | <strong>End Date: <%= @booking.end_date %></strong></li>
            <br>
            <li class="list-group-item text-center fs-4"><h4><strong>⛺<%= @booking.tent.title %>⛺</strong></h4></li>
            <li class="list-group-item fs-5"><p>Location: <%= @booking.tent.location %></p></li>
            <li class="list-group-item fs-5"><p><%= @booking.tent.description %></p></li>
            <li class="list-group-item fs-5"><p>Total price: £<% time_difference = @booking.end_date.mjd - @booking.start_date.mjd %>
            <%= time_difference * @booking.tent.price.to_i %></p></li>
            <br>
            <p class="fs-5"><%= link_to "Back to list of tents", tents_path %></p>
    </div>
  </div>
</div>
