<h1>Book a tent!</h1>

<%= simple_form_for(@booking) do |f| %>
<%= f.input :first_name %>
<%= f.input :last_name %>
<%= f.input :email %>
<%= f.input :start_date %>
<%= f.input :end_date %>

<%= f.submit "Confirm my booking", class: "btn btn-danger btn-lg" %>
<% end %>
<% end %>
