<div class="container">
  <div class="row justify-content-center" id="name">
    <div class="col-6">
      <h1><%= @booking.tent.title %></h1>
      <%= cl_image_tag @booking.tent.photo.key, height: 300, width: 400, crop: :fill %>
      <ul>
        <li>Description: <%= @booking.tent.description %></li>
        <li>Capacity: <%= @booking.tent.capacity %></li>
        <li>Location: <%= @booking.tent.location %></li>
        <li>Total price: £<%= @booking.tent.price %></li>
      </ul>
    </div>
