
<div class="banner">
  <div class="banner-content">
    <h1 id="main-title">Wanderlust Tents</h1>
    <p> Probably the best tents in the world... </p>
    <form action="/tents" class="form-inline">
       <input type="text" class="form-control input-lg" placeholder="Location?">
       <%# <input type="text" class="form-control input-lg" placeholder="When?"> %>
       <%# <select name="" id="" class="form-control input-lg">
         <option value="1">1 capacity</option>
         <option value="2">2 capacity</option>
         <option value="3">3 capacity</option>
       </select> %>
       <input type="submit" class="btn btn-primary btn-lg" value="Search">
     </form>
  </div>
</div>

<div class="container" id="lastthreetents">
  <h2 class="text-center">Recent tents</h2>
  <div class="row">
        <% @tents.each do |tent| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url('');">
            <div class="card-description">
            <h3> <%= tent.title %> </h3>
            <p><%= tent.location %></p>
            <p><%= tent.price %></p>
            </div>
          </div>
          <%= link_to "See more", tent_path(tent) %>
          <%# <img src="assets/tentexample3.jpg" class="card-user" alt="Tent 1"> %>
          <%# if tent.photo.attached? <%= cl_image_tag tent.photo.key, height:300, width:100% , crop :fill %>
      </div>
          <% end %>
  </div>
</div>
